body {
    background-color: beige;
}

h1 {

    margin-bottom: 1%;
   margin-top: 2%;
}

.container {
    position:static;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}
a {
    width: 100%;
    color: black;
    text-decoration: underline;
}

a:hover {
    
    color: black;
    text-decoration: none;
}

.item span {
    
   display: none;
   width: 100%;
   animation: animate .5s ease-in-out;
   
}


.item:hover span, .item:focus span {
   display: block;

}

@keyframes animate {
    0%{
        bottom: 50px;
        opacity: 0;
    }

    100%{
        bottom: 100px;
        opacity: 1;
    }
} 